.emotion-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;

  button {
    margin: 0 5px;
    padding: 20px 20px;
    font-size: 20px;
    background-color: #f2f2f2;
    border: none;
    border-radius: 50%;
    opacity: 0.5;
    transition: background-color 0.3s ease, opacity 0.3s ease,
      transform 0.3s ease;

    &:hover {
      opacity: 0.75;
      transform: scale(1.05);
      background-color: #e6e6e6;
      cursor: pointer;
    }

    &:active {
      transform: scale(0.95);
      background-color: #ff9d9d;
    }

    &.selected {
      opacity: 1;
      background-color: #ff6666;
      color: #fff;
    }
  }

  .responsive {
    display: flex;
    align-items: center;
    gap: 30px;

    button {
      padding: 15px 30px;
    }
  }
}
