.background-gallery {
  padding: 30px;
  margin: 30px;
  border-radius: 8px;
  background-color: #f9f9f9;
}

.background-image {
  width: 100%;
  border-radius: 4px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
